.DS_Store

**/.DS_Store

._*

**/._*

CAP 4630  Syllabus.pdf

*.zip

**/.zip

ipynbFiles/

HelpfulLinks.txt

**/HelpfulLinks.txt

Homework_03_Old/

Class Video/

ClassSlides/

**/.ipynb_checkpoints

Homework_05/homework_05_BLANK.ipynb